# dependências
/node_modules

# Next.js
/.next/
/out/

# produção
/build

# arquivos locais e segredos
.env*
!.env.example
.vercel

# sistema e editores
.DS_Store
Thumbs.db
*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts
